future
faker
motor
PyDictionary
emoji
lxml
beautifulsoup4
requests
SQLAlchemy==1.4.37
python-telegram-bot==13.12.0
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
psutil
postgres
jikanpy
speedtest-cli
coffeehouse
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
telethon
spamwatch
alphabet_detector
cachetools
fontTools
gtts
tswift
pytz
youtube_dl
PyYAML
future
emoji
lxml
wget
gtts
beautifulsoup4
requests
python-telegram-bot==13.12
SQLAlchemy==1.4.37
psycopg2-binary
feedparser
faker
hachoir
pykeyboard
pynewtonmath
aiofiles
ffmpeg-python
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp
Pillow
CurrencyConverter
googletrans==4.0.0rc1
google-trans-new
jikanpy
speedtest-cli
coffeehouse
regex
bleach
wikipedia
markdown2
telethon
telegraph
heroku3
spamwatch
alphabet_detector
pyrate-limiter
cachetools
ujson
pretty_errors
pygithub
TgCrypto
pyrogram==1.4.16
PyDictionary
git+https://github.com/Sorrybabe/downloader
youtube_search_python==1.4.9
youtube_search
lyrics_extractor
asyncio
cloudscraper
dateparser
pymongo
dnspython
secureme
apscheduler
emoji-country-flag
countryinfo
html2text
bs4
redis
pySmartDL
bing_image_downloader
search_engine_parser
pytz
jikanpy
tswift
python-arq
envparse
#profanity (Credits to Julia)
better_profanity
textblob 
nudepy
nekos.py
motor
gpytranslate
fontTools
opencv-python-headless
odmantic
tzlocal
pendulum
fuzzysearch
img2pdf
multicolorcaptcha
git+https://github.com/python-telegram-bot/ptbcontrib.git
redis
html2text
pythonping
html_telegraph_poster
pytube
youtube-search-python
instantmusic
PyLyrics
hachoir
pybase64
pySmartDL
validators
pyrogram==1.4.16
datetime
nltk
aiohttp
asyncio
pykeyboard
Pillow
CurrencyConverter
googletrans==4.0.0-rc1
google_trans_new
pyrate-limiter
nekos.py
tgcrypto
python-arq
hachoir
configparser
bing_image_downloader
parsel
urllib3
heroku3
telegraph
youtube_search
search_engine_parser
glitch_this
NumPy
opencv-python-headless
countryinfo
secureme #encrypt
aiofiles
wget
pymongo
dnspython
asyncio
