future
faker
motor
PyDictionary
emoji
lxml
beautifulsoup4
requests
SQLAlchemy==1.4.37
python-telegram-bot==13.12.0
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
psutil
postgres
jikanpy
speedtest-cli
coffeehouse
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
telethon
spamwatch
alphabet_detector
cachetools
fontTools
gtts
tswift
pytz
youtube_dl
PyYAML
redis
html2text
pythonping
html_telegraph_poster
pytube
youtube-search-python
instantmusic
PyLyrics
hachoir
pybase64
pySmartDL
validators
pyrogram==1.4.16
datetime
nltk
aiohttp
asyncio
pykeyboard
Pillow
CurrencyConverter
googletrans==4.0.0-rc1
google_trans_new
pyrate-limiter
nekos.py
tgcrypto
python-arq
hachoir
configparser
bing_image_downloader
parsel
urllib3
heroku3
telegraph
youtube_search
search_engine_parser
glitch_this
NumPy
opencv-python-headless
countryinfo
secureme #encrypt
aiofiles
wget
pymongo
dnspython
asyncio
